@model string;
<div class="text-white" style="position:fixed; right:25px;bottom:25px;">
    <a class="btn btn-success" 
    asp-controller="@Model" 
    asp-action="create"
    >Add New 
    <i class="fa fa-plus" aria-hidden="true"></i></a>
</div>