<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Acoount created successfully</h2>
        <p>You can <a class="nav-link" asp-action="Login"> Log in</a></p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>